absl-py
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
airsim==1.3.0
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs
blessings==1.7
blinker==1.4
brotlipy==0.7.0
cachetools
certifi==2020.12.5
cffi
chardet==4.0.0
click
cloudpickle==1.6.0
colorama==0.4.4
coverage
cryptography
cycler==0.10.0
Cython
dm-tree==0.1.6
filelock==3.0.12
future==0.18.2
gast
git-python
google-api-core==1.26.3
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.37.1
gym==0.18.0
h5py==2.10.0
hiredis==2.0.0
idna 
importlib-metadata
jsonschema==3.2.0
kiwisolver==1.3.1
lz4==3.1.3
Markdown 
matplotlib==3.4.2
mkl-service==2.3.0
msgpack==1.0.2
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
multidict 
numpy==1.20.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile 
opencensus==0.7.12
opencensus-context==0.1.2
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.1.0
packaging==20.9
pandas 
Pillow==8.2.0
prometheus-client==0.10.1
protobuf==3.15.8
psutil==5.8.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
pyglet==1.5.0
PyJWT==1.7.1
pyOpenSSL 
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.17.3
PySocks
python-dateutil==2.8.1
pytz
PyYAML==5.4.1
ray==1.3.0
redis==3.5.3
requests
requests-oauthlib==1.3.0
rsa 
scipy==1.6.3
six 
tabulate==0.8.9
tensorboard 
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
termcolor==1.1.0
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tornado==4.5.3
typing-extensions==3.10.0.0
urllib3 
Werkzeug 
win-inet-pton 
wincertstore==0.2
wrapt==1.12.1
yarl 
zipp 
